.DS_Store
*.o
pset4/recover/*.jpg
pset4/filter/*.bmp
pset4/filter/images
pset4/lab4/*.wav
pset4/recover/*.raw
pset5/speller/*.txt
pset5/speller/dictionaries/*
pset5/speller/keys/
pset5/speller/texts
pset6/dna/databases
pset6/dna/sequences
*.csv
*.db

__pycache__
cash
credit
a.out
Hello
mario
caesar
ceasar
readability
substitution
plurality
runoff
recursion
tideman
filter
volume
recover
inheritance
speller